<div class="navbar navbar-inverse bg-dark">
    <a class="navbar-brand">SPORTS STORE</a>
</div>
<div class="col-xs-3 p-a-1"> 
    <button class="btn btn-block btn-outline-primary" (click)="changeCategory()"> Home</button> 
    <button *ngFor="let cat of categories" class="btn btn-outline-primary btn-block"
        [class.active]="cat == selectedCategory" (click)="changeCategory(cat)"> {{cat}} </button> 
</div>
<div class="col-xs-3 bg-info  p-1">{{categories.length}} Categories</div>
<div class="col-xs-9 p-1">
    <div *ngFor="let product of products" class="card">
        <h4 class="card-header"> {{product.name}} <span class="pull-xs  tag "> {{
                product.price | currency:"USD":true:"2.2-2" }} </span> </h4>
        <div class="card-text p-1">{{product.description}}</div>
</div>